<form id="form-1" method='post'  action='list' data-id="search">
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 

<input type="hidden"  name='item_id' value=<%= @id %> />
Item Name :<input name='ItemName' id='item_id' value=<%= @name %>  />

Quantity :<input name=quantity id='quantity'/>
<input type='submit'/>
</form>

<p id="search_result"></p>
	
<script type="text/javascript">
	
$(function()
	{
	console.log("Test");
	$("[name= 'ItemName']").keyup(function(){
		console.log("Keyup");
		$.ajax({
			url: 'search',
			type: 'POST',
			data: $(this).parent().serialize() 	,
			//data:post_data,
			dataType: 'text',
			success: function(data)
			{
				$('#search_result').html(data);
			// console.log(data);
		   	}
			
		}).fail(function(data){
			console.log(data);
		});

	});

 });

</script>