
<% @items.each  do  |item| %>
<tr> 
<td>
<%=  link_to item.ItemName, controller: "purchases", action: "new",
 name: item.ItemName,id:item.item_id,Price:item.Price,stock:item.stock  %></td>
</tr>
<% end %>
